# Exercícios em Python 3: Programação Funcional




Neste exercício trabalharemos com aspectos da linguagem Python voltados à programação Funcional.

## Preparando o ambiente

Este notebook usa códigos no pacote ceai_python_aula04.py.
Verifique se o seu google drive contém a pasta cursoai_python_aula_04.

Em seguida execute o código a seguir.

In [1]:
!git clone https://gitlab.uspdigital.usp.br/thiago/curso_ai_python.git
import sys
sys.path.append('curso_ai_python')

Cloning into 'curso_ai_python'...
remote: Enumerating objects: 54, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 54 (delta 12), reused 0 (delta 0), pack-reused 33
Receiving objects: 100% (54/54), 21.56 KiB | 10.78 MiB/s, done.
Resolving deltas: 100% (28/28), done.

Se o bloco acima foi executado corretamente, importe os símbolos com a linha seguinte:

In [2]:
import ceai_python_aula05

Ambiente inicializado com sucesso

# 1. Declaração de funções

## 1.1 Clausuras

Em Python uma Clausura é uma função que captura parte do escopo no qual ela foi definida.

Isso permite gerar funções nas quais parte do seu comportamento é dinamicamente (em tempo de execução) definido.

Por exemplo, considere a seguinte função:
```
def gera_somador(x):
  def func(y):
    return x+y
  return func
```
Esta função gera novas funções que adicionam ao seu argumento um valor constante.


### Exercício 1.1.1
Crie uma função que recebe um valor x.
Esta função deve retornar uma *nova* função que recebe uma lista como argumento e retorna ```True``` se o valor x está presente na lista ou ```False``` se não está.

In [3]:
def gera_funcao(x):
  def identifica_numero(numeros):
    return x in numeros
  return identifica_numero

Teste sua resposta:

In [4]:
ceai_python_aula05.valida_ex_01_01(gera_funcao)

# 1.2 Expressões Lambda

Uma expressão lambda permite declarar funções simples que se resumem a uma avaliação simples de expressões.

Por exemplo, a seguinte expressão retorna uma função que recebe dois argumentos e retorna a soma destes.
```
lambda x, y: x+y
```

### Exercício 1.2.1

Atribua à variável ```a``` uma expressão lambda que representa uma função que retorna o *maior* entre dois elementos.

 *Sugestão*: Use a expressão condicional ```expr1 if cond else expr2```.

In [5]:
a = lambda x,y : x if x > y else y

Teste a sua resposta:

In [6]:
ceai_python_aula05.valida_ex_01_02_01(a)

## 2. Geradores

Um gerador é um objeto iterável que permite produzir em tempo de execução uma sequência de valores.

### 2.1 Geradores declarados por expressões geradoras

Uma expressão geradora produz um gerador a partir de outro objeto iterável.

A sintaxe é ```(expr(v1, v2, ...) for v1 in o1 for v2 in o2 ... if cond(v1, v2, ...))```.

Esta expressão itera pelas combinações dos objetos o1, o2,... retornado os valores de ```expr``` para as combinações de ```v1```, ```v2```, ... para os quais a condição ```cond``` é válida.

A sintaxe de Expressões Geradoras também pode ser usada para inicializar-se sequências.
Basta trocar os parênteses na sintaxe de expressões geradoras por colchetes.

Por exemplo, este código cria a sequência com todos os quadrados perfeitos ímpares menores do que 100:

In [ ]:
print([x*x for x in range(10) if x%2 != 0])

[1, 9, 25, 49, 81]

#### Exercício 2.1.1

Crie uma função com apenas *uma linha de código\** que retorna uma lista com os $n$ múltiplos de um determinado número $x$ a partir de $0$.

In [65]:
def multiplos(n, x):
  return [a*x for a in range(n)]

Teste sua resposta:

In [66]:
ceai_python_aula05.valida_ex_02_01_01(multiplos)

### 2.2 Geradores criados por co-rotinas

Um gerador definido por co-rotina assemelha-se a uma função em python.
A diferença é que esta função retorna valores pela palavra-chave ```yield```.
Uma função desta natureza, quando invocada, retorna um novo gerador.
A execução se dá até a instrução ```yield```, quando então é interrompida e seu estado *preservado*.
A execução é retomada a cada vez que o iterador recebe uma solicitação de um novo valor.

 Por exemplo, o seguinte gerador produz os números da sequência de Fibonacci até um certo limite:

In [ ]:
def fibonacci(n):
  x, y = 1, 0
  while x<=n:
     yield x
     x, y = x+y, x

print(list(fibonacci(100)))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### Exercício 2.2.1

Escreva um gerador que calculam as iterações do algoritmo de newton para calcular a raiz quadrada do valor y.

Cada iteração deve produzir um valor $x$ tal que:

\begin{equation}
x_{i+1} = \frac{x_i + \frac{y}{x_i}}{2}
\end{equation}

O primeiro valor a ser retornado é o próprio valor y.

A função deve parar quando $\frac{\left|y - x_i^2\right|}{y}<0.0001$

In [67]:
def raiz_newton(y):
  x = y
  while (y-x**2)/y < 0.0001:
    x = (x + y/x)/2
    yield x

Teste seu código:

In [68]:
import pandas as pd
data = []
a = iter(raiz_newton(256))
a
try:
  for i in range(30):
    x = next(a)
    data.append([x, x*x, abs(256-x*x)/256])
except StopIteration:
  pass
pd.DataFrame(data, columns=["x", "x²", "(y-x²)/y"])

             x            x²      (y-x²)/y
0   128.500000  16512.250000  6.350098e+01
1    65.246109   4257.054733  1.562912e+01
2    34.584857   1196.112354  3.672314e+00
3    20.993470    440.725798  7.215851e-01
4    16.593869    275.356491  7.561129e-02
5    16.010627    256.340172  1.328795e-03
6    16.000004    256.000113  4.408383e-07
7    16.000000    256.000000  4.884981e-14
8    16.000000    256.000000  0.000000e+00
9    16.000000    256.000000  0.000000e+00
10   16.000000    256.000000  0.000000e+00
11   16.000000    256.000000  0.000000e+00
12   16.000000    256.000000  0.000000e+00
13   16.000000    256.000000  0.000000e+00
14   16.000000    256.000000  0.000000e+00
15   16.000000    256.000000  0.000000e+00
16   16.000000    256.000000  0.000000e+00
17   16.000000    256.000000  0.000000e+00
18   16.000000    256.000000  0.000000e+00
19   16.000000    256.000000  0.000000e+00
20   16.000000    256.000000  0.000000e+00
21   16.000000    256.000000  0.000000e+00
22   16.000000    256.000000  0.000000e+00
23   16.000000    256.000000  0.000000e+00
24   16.000000    256.000000  0.000000e+00
25   16.000000    256.000000  0.000000e+00
26   16.000000    256.000000  0.000000e+00
27   16.000000    256.000000  0.000000e+00
28   16.000000    256.000000  0.000000e+00
29   16.000000    256.000000  0.000000e+00